$white: #fff;
$black: #000;

$color-blue: #2859cb;
$violet-blue: #2b2160;
$light-blue: #0b7cc2;
$color-choices: rgb(13, 67, 133);
$color-error: rgb(255, 26, 26);


$breakpoints: ( 'xs':477px, 'sm':575px, 'md': 768px, 'lg': 992px);