@keyframes slide-left-out {
  0%{
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-left-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide-left-out {
  animation-name: slide-left-out;
  animation-duration: 0.55s;
  animation-timing-function: linear;
}

.slide-left-in {
  animation-name: slide-left-in;
  animation-duration: 0.55s;
  animation-timing-function: linear;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 0.55s;
  animation-timing-function: linear;
}

.quiz ul li.right-answer {
  background: rgb(23, 125, 30);
}

.quiz ul li.wrong-answer {
  background: rgb(159, 27, 27);
}