html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(135deg, $violet-blue 10%, $color-blue 75%, $light-blue 100%);
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}